{
	"sourceMaps": false,
	"minify": false,
	"jsc": {
		"externalHelpers": false,
		"parser": {
			"syntax": "typescript",
			"tsx": true,
			"dynamicImport": true
		},
		"transform": {
			"react": {
				"runtime": "automatic"
			}
		},
		"minify": {
			"mangle": false,
			"compress": false
		}
	},
	"env": {
		"targets": "fully supports es6",
		"include": [
			"transform-block-scoping",
			"transform-classes",
			"transform-async-to-generator",
			"transform-async-generator-functions"
		],
		"exclude": [
			"transform-parameters",
			"transform-template-literals",
			"transform-exponentiation-operator",
			"transform-named-capturing-groups-regex",
			"transform-nullish-coalescing-operator",
			"transform-object-rest-spread",
			"transform-optional-chaining",
			"transform-logical-assignment-operators"
		]
	}
}